@CHARSET "UTF-8";
/* ==========================================================================
	#Fonts
========================================================================== */
@font-face {
	font-family: 'Helvetica Neue Lt Pro Ultra Light';
	src: url('../fonts/HelveticaNeueLTPro-UltLt.eot');
	src: url('../fonts/HelveticaNeueLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTPro-UltLt.woff') format('woff'),
		url('../fonts/HelveticaNeueLTPro-UltLt.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLTPro-UltLt.svg#HelveticaNeueLTPro-UltLt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Lt Pro Light';
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot');
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
		url('../fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Lt Pro Roman';
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Lt Pro Bold';
	src: url('../fonts/HelveticaNeueLTPro-Bd.eot');
	src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
		url('../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   #Transitions
========================================================================== */
#pjWrapper .pjMbNav > li > a,
#pjWrapper .pjMbNav > li > a:after,
#pjWrapper .pjMbCategoryContentInner,
#pjWrapper .pjMbProduct .thumbnail,
#pjWrapper .thumbnail .pjMbProductImage img,
#pjWrapper .pjMbProductTitle,
#pjWrapper .pjMbOfferImage img,
#pjWrapper .pjMbOfferMenuItem .thumbnail,
#pjWrapper .pjMbOfferMenuItemImage img,
#pjWrapper .pjMbOfferMenuItemTitle,
#pjWrapper .pjMbHeaderOptions .form-control,
#pjWrapper .pjMbHeaderOptions .dropdown-menu a,
#pjWrapper .pjMbHeaderOptions .btn-group .fa { -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }

/* ==========================================================================
	#pjMbContainer
========================================================================== */
#pjWrapper .pjMbContainer { font-family: 'Helvetica Neue Lt Pro Light', Helvetica, Arial, sans-serif; }

/* ==========================================================================
	#pjMbHeader
========================================================================== */
#pjWrapper .pjMbHeader { margin: 0 -15px; border: 0; border-radius: 0; }

#pjWrapper .pjMbNav > li > a { position: relative; overflow: hidden; padding: 21px; font-size: 16px; line-height: 1.2; text-transform: capitalize; }
#pjWrapper .pjMbNav > .active > a,
#pjWrapper .pjMbNav > .active > a:focus,
#pjWrapper .pjMbNav > .open > a,
#pjWrapper .pjMbNav > .open > a:focus,
#pjWrapper .pjMbNav > li > a:hover { background: none; text-decoration: none; }
#pjWrapper .pjMbNav > li > a:after { position: absolute; bottom: -4px; right: 0; left: 0; width: 100%; height: 4px; content: ""; }
#pjWrapper .pjMbNav > .open > a:after,
#pjWrapper .pjMbNav > .active > a:after,
#pjWrapper .pjMbNav > li > a:hover:after { bottom: 0; }
#pjWrapper .pjMbNav .dropdown-menu { border-radius: 0; }
#pjWrapper .pjMbNav .dropdown-menu a { text-transform: capitalize; }

#pjWrapper .pjMbHeaderOptions { padding: 4px 15px 4px 0; }
#pjWrapper .pjMbHeaderOptions .control-label,
#pjWrapper .pjMbHeaderOptions .form-control { font-family: 'Helvetica Neue Lt Pro Roman', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.2; text-transform: capitalize; }
#pjWrapper .pjMbHeaderOptions .form-control:focus { -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .3); box-shadow: 0 0 10px rgba(255, 255, 255, .3); }
#pjWrapper .pjMbHeaderOptions .control-label { font-weight: normal; }
#pjWrapper .pjMbHeaderOptions .form-control { position: relative; height: 37px; border: 1px solid #0e0d0d; cursor: pointer; border-radius: 0; text-align: left; }
#pjWrapper .pjMbHeaderOptions .form-control .fa { position: absolute; right: 10px; top: 10px; font-size: 16px; }
#pjWrapper .pjMbHeaderOptions .btn-group.open .fa { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control { overflow: hidden; width: 194px; }
#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control span { overflow: hidden; display: inline-block; width: 158px; vertical-align: middle; }

#pjWrapper .pjMbHeaderOptions .pjMbLanguages .form-control { padding: 6px 25px 6px 15px; }
#pjWrapper .pjMbHeaderOptions .dropdown-menu { width: auto; min-width: 100%; max-width: 520px; text-transform: capitalize; }
#pjWrapper .pjMbHeaderOptions .dropdown-menu a { overflow: hidden; margin: 0 20px; padding: 3px 0; }

/* ==========================================================================
	#pjMbContent
========================================================================== */
#pjWrapper .pjMbContentHead { padding: 50px 170px 40px; text-align: center; }
#pjWrapper .pjMbContentTitle { position: relative; margin: 0 0 30px; padding-bottom: 20px; font-family: 'Helvetica Neue Lt Pro Ultra Light', Helvetica, Arial, sans-serif; font-size: 48px; line-height: 1.1; font-weight: normal; text-transform: capitalize; }
#pjWrapper .pjMbContentTitle:after { position: absolute; bottom: 0; left: 50%; width: 36px; height: 4px; margin-left: -18px; content: ""; }
#pjWrapper .pjMbContentHead p { font-size: 17px; line-height: 1.76; }

#pjWrapper .pjMbSpecialOfferMeta { margin: 0; padding-bottom: 30px; }
#pjWrapper .pjMbSpecialOfferMeta dt,
#pjWrapper .pjMbSpecialOfferMeta dd { display: inline-block; float: none; font-weight: normal; }
#pjWrapper .pjMbSpecialOfferMeta dt { width: auto; min-width: 0; font-family: 'Helvetica Neue Lt Pro Bold', Helvetica, Arial, sans-serif; font-size: 36px; line-height: 1.1; vertical-align: middle; }
#pjWrapper .pjMbSpecialOfferMeta dd { margin-left: 0; padding-left: 15px; background: url(images/pjMbSpecialOfferMetaDash.png) no-repeat 1px 4px; font-family: 'Helvetica Neue Lt Pro Roman', Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.4; vertical-align: bottom; }

/* ==========================================================================
	#pjMbProductCategory
========================================================================== */
#pjWrapper .pjMbProductCategory { position: relative; overflow: hidden; display: block; height: 228px; padding: 0; margin-bottom: 30px; border: 0; border-radius: 0; text-decoration: none; }
#pjWrapper .pjMbProductCategory:hover { text-decoration: none; }
#pjWrapper .pjMbCategoryImage { position: absolute; top: 0; left: 0; }
#pjWrapper .pjMbCategoryImage,
#pjWrapper .pjMbCategoryImage img,
#pjWrapper .pjMbCategoryContent { width: 100%; height: 100%; }

#pjWrapper .pjMbCategoryContent { position: relative; background: url(images/pjMbCategoryContentBg.png) repeat-x 0 0; text-align: center; }
#pjWrapper .pjMbCategoryContentInner { position: absolute; top: 168px; left: 0; width: 100%; height: 100%; padding: 0 10px; }
#pjWrapper .pjMbProductCategory:hover .pjMbCategoryContentInner { top: 0; }

#pjWrapper .pjMbCategoryContent p { font-size: 17px; line-height: 1.4; color: #fff; }
#pjWrapper .pjMbCategoryTitle { position: relative; margin: 0; padding: 15px 0; font-family: 'Helvetica Neue Lt Pro Bold', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.1; font-weight: normal; text-transform: capitalize; }
#pjWrapper .pjMbCategoryTitle:before { position: absolute; top: 0; left: 50%; width: 160px; height: 3px; margin-left: -80px; content: ""; }

/* ==========================================================================
	#pjMbProducts
========================================================================== */
#pjWrapper .pjMbProducts { padding-bottom: 10px; }
#pjWrapper .pjMbProductsHead { padding-bottom: 20px; }
#pjWrapper .pjMbProductsTitle { margin: 0; padding: 0; font-family: 'Helvetica Neue Lt Pro Ultra Light', Helvetica, Arial, sans-serif; font-size: 30px; line-height: 1.1; font-weight: normal; text-transform: capitalize; }

#pjWrapper .pjMbProduct { display: inline-block; float: none; padding-bottom: 30px; vertical-align: top; }
#pjWrapper .pjMbProduct.col-lg-6,
#pjWrapper .pjMbProduct.col-md-6,
#pjWrapper .pjMbProduct.col-sm-6 { width: 49%; }

#pjWrapper .pjMbProduct .thumbnail { padding: 0 0 10px; border: 0; border-top: 4px solid #f0f0ef; border-radius: 0; }
#pjWrapper .pjMbProduct .thumbnail:focus,
#pjWrapper .pjMbProduct .thumbnail:hover { text-decoration: none; }

#pjWrapper .pjMbProductHead { padding: 10px 0; }
#pjWrapper .pjMbProductTitle { margin: 0; padding: 0; font-family: 'Helvetica Neue Lt Pro Bold', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 1.1; font-weight: normal; text-transform: capitalize; }

#pjWrapper .pjMbProductImage { overflow: hidden; }
#pjWrapper .thumbnail .pjMbProductImage img { width: 100%; height: auto; }
#pjWrapper .thumbnail:hover .pjMbProductImage img { transform: scale(1.1); }

#pjWrapper .thumbnail .pjMbProductContent { padding: 0 15px; }
#pjWrapper .thumbnail .pjMbProductPrice { font-size: 25px; line-height: 1.2; }

#pjWrapper .pjMbProductContent p { margin-bottom: 0; font-size: 16px; line-height: 1.63; }

#pjWrapper .pjMbProductMeta { display: inline-block; margin-bottom: 10px; }
#pjWrapper .pjMbProductMeta dt,
#pjWrapper .pjMbProductMeta dd { display: inline-block; float: none; font-weight: normal; }
#pjWrapper .pjMbProductMeta dt { width: auto; min-width: 0; font-size: 14px; line-height: 1.6; text-transform: uppercase; vertical-align: bottom; }
#pjWrapper .pjMbProductMeta dd { margin-left: 0; vertical-align: middle; }

/* ==========================================================================
	#pjMbOffers
========================================================================== */
#pjWrapper .pjMbOffer { padding-bottom: 20px; }
#pjWrapper .pjMbOffer .thumbnail { position: relative; overflow: hidden; display: block; height: 228px; margin: 0; padding: 0; border: 0; border-radius: 0; }
#pjWrapper .pjMbOffer .thumbnail:hover { text-decoration: none; }

#pjWrapper .pjMbOfferImage { position: absolute; top: 0; left: 0; }
#pjWrapper .pjMbOfferImage,
#pjWrapper .pjMbOfferImage img { width: 100%; height: 100%; }
#pjWrapper .thumbnail:hover .pjMbOfferImage img { transform: scale(1.1); }

#pjWrapper .pjMbOfferOverlay { position: relative; height: 100%; background: url(images/pjMbCategoryContentBg.png) repeat-x 0 0; }
#pjWrapper .pjMbOfferMeta { position: absolute; top: 0; left: 50%; margin-left: -46px; padding: 8px; }
#pjWrapper .pjMbOfferMeta p { margin: 0; font-family: 'Helvetica Neue Lt Pro Roman', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.2; text-align: center; }
#pjWrapper .pjMbOfferMeta .pjMbOfferPrice { font-size: 22px; }

#pjWrapper .pjMbOfferContent { position: absolute; bottom: 20px; left: 0; width: 100%; text-align: center; }
#pjWrapper .pjMbOfferTitle { position: relative; margin: 0; padding-top: 15px; font-family: 'Helvetica Neue Lt Pro Bold', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.2; font-weight: normal; text-transform: capitalize; }
#pjWrapper .pjMbOfferTitle:before { position: absolute; top: 0; left: 50%; width: 164px; height: 3px; margin-left: -82px; content: ""; }

/* ==========================================================================
	#pjMbOfferMenu
========================================================================== */
#pjWrapper .pjMbOfferMenu { padding-bottom: 30px; }
#pjWrapper .pjMbOfferMenuHead { padding-bottom: 5px; }
#pjWrapper .pjMbOfferMenuTitle { font-family: 'Helvetica Neue Lt Pro Ultra Light', Helvetica, Arial, sans-serif; font-size: 30px; line-height: 1.1; font-weight: normal; text-transform: capitalize; }

#pjWrapper .pjMbOfferMenuItem .thumbnail { margin: 0; padding: 15px 0 50px; border: 0; border-top: 4px solid #f0f0ef; border-radius: 0; }
#pjWrapper .pjMbOfferMenuItem .thumbnail:hover { text-decoration: none; }
#pjWrapper .pjMbOfferMenuItemImage { overflow: hidden; }
#pjWrapper .pjMbOfferMenuItemImage img { width: 100%; height: auto; }
#pjWrapper .thumbnail:hover .pjMbOfferMenuItemImage img { transform: scale(1.1); }

#pjWrapper .pjMbOfferMenuItemTitle { margin: 0; padding: 0 0 10px; font-family: 'Helvetica Neue Lt Pro Bold', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 1.2; font-weight: normal; text-transform: capitalize; }
#pjWrapper .pjMbOfferMenuItemContent p { font-size: 16px; line-height: 1.63; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 990px ) {
	#pjWrapper .pjMbContentHead { padding: 40px 0; }
}

@media only screen and ( max-width: 767px ) {
	#pjWrapper .pjMbNav { width: auto; float: left; margin: 0; }
	#pjWrapper .pjMbNav > li { display: inline-block; vertical-align: top; }
	#pjWrapper .pjMbNav > li > a { padding: 21px 10px; }

	#pjWrapper .pjMbHeaderOptions { float: right; }
	#pjWrapper .pjMbCategories,
	#pjWrapper .pjMbLanguages { margin: 0; padding: 0; display: inline-block; border: 0; -webkit-box-shadow: none; box-shadow: none; }
	#pjWrapper .pjMbLanguages { padding-left: 10px; }
	#pjWrapper .pjMbHeaderOptions .form-control,
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control { display: block; }
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control,
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control span { width: 100%; }
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control span { padding-left: 5px; } 

	#pjWrapper .pjMbHeaderOptions .dropdown-menu { position: absolute; top: 100%; left: auto; right: 0; border: 1px solid rgba(0, 0, 0, .15); background: #fff; border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .176); box-shadow: 0 6px 12px rgba(0, 0, 0, .176); }

	#pjWrapper .pjMbContentHead { padding: 20px 0; }
	#pjWrapper .pjMbContentTitle { margin-bottom: 10px; font-size: 36px; }
	#pjWrapper .pjMbProductCategories > .pjMbContentBody > .row > .col-xs-12 { width: 50%; }

	#pjWrapper .pjMbProductBody > .col-xs-12 { width: auto; }
	#pjWrapper .thumbnail .pjMbProductImage { width: 220px; }
	#pjWrapper .thumbnail .pjMbProductImage img { height: auto; }

	#pjWrapper .pjMbOffers > .pjMbOffer { width: 50%; }

	#pjWrapper .pjMbProduct.col-xs-12 { width: 100%; }
}

@media only screen and ( max-width: 620px ) {
	#pjWrapper .pjMbOffers > .pjMbOffer { width: 100%; }
}

@media only screen and ( max-width: 540px ) {
	#pjWrapper .pjMbProductCategories > .pjMbContentBody > .row > .col-xs-12 { width: 100%; }
	#pjWrapper .thumbnail .pjMbProductImage { width: 170px; }
	#pjWrapper .pjMbProductContent p { line-height: 1.4; }

	#pjWrapper .pjMbOfferMenuHead { padding-bottom: 0; }
	#pjWrapper .pjMbOfferMenuItem .thumbnail { padding-bottom: 10px; }
	#pjWrapper .pjMbOfferMenuItem > .thumbnail > .row > .col-xs-6:first-of-type { width: 170px; }
	#pjWrapper .pjMbOfferMenuItemContent { float: none; width: 100%; }
	#pjWrapper .pjMbOfferMenuItemTitle { padding-bottom: 0; font-family: 'Helvetica Neue Lt Pro Light', Helvetica, Arial, sans-serif; font-size: 17px; }
	#pjWrapper .pjMbOfferMenuItemContent p { font-size: 15px; }

	#pjWrapper .pjMbNav,
	#pjWrapper .pjMbHeaderOptions { float: none; width: 100%; margin: 0; }
	#pjWrapper .pjMbHeaderOptions { padding: 10px; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { left: 0; max-width: 100%; }
	#pjWrapper .pjMbHeaderOptions .form-control,
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control,
	#pjWrapper .pjMbHeaderOptions .control-label,
	#pjWrapper .pjMbHeaderOptions .btn-group { display: block; width: 100%; }
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control{width: 100%;}
	#pjWrapper .pjMbLanguages { display: block; width: 100%; padding: 5px 0; }

	#pjWrapper .pjMbCategories,
	#pjWrapper .pjMbLanguages { display: block; width: 100%; padding: 5px 0; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a { margin: 0 10px; }
}

@media only screen and ( max-width: 420px ) {
	#pjWrapper .pjMbNav > li { display: block; border-bottom: 1px solid #e4cb8e; }
	#pjWrapper .pjMbNav > li > a { padding: 10px; }
	#pjWrapper .pjMbHeaderOptions { padding: 10px 0; }
	
	#pjWrapper .pjMbHeaderOptions .form-control,
	#pjWrapper .pjMbHeaderOptions .pjMbCategories .form-control,
	#pjWrapper .pjMbHeaderOptions .control-label,
	#pjWrapper .pjMbHeaderOptions .btn-group { display: block; width: 100%; }
	#pjWrapper .pjMbHeaderOptions .control-label { padding: 0 10px; }
	#pjWrapper .pjMbHeaderOptions .form-control { border-right: 0; border-left: 0; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { position: static; border: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
	#pjWrapper .pjMbHeaderOptions .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }

	#pjWrapper .pjMbProductBody > .col-xs-12,
	#pjWrapper .thumbnail .pjMbProductImage { width: 100%; }
	#pjWrapper .thumbnail .pjMbProductImage { padding-bottom: 10px; }
	#pjWrapper .thumbnail:hover .pjMbProductImage img { transform: scale(1); }

	#pjWrapper .pjMbOfferTitle { font-size: 21px; }

	#pjWrapper .pjMbContentTitle { font-family: 'Helvetica Neue Lt Pro Light', Helvetica, Arial, sans-serif; font-size: 26px; }
	#pjWrapper .pjMbSpecialOfferMeta { padding-bottom: 10px; }
}

@media only screen and ( max-width: 360px ) {
	#pjWrapper .pjMbOfferMenuItem > .thumbnail > .row > .col-xs-6:first-of-type { width: 100%; }
}