/* ==========================================================================
	#pjMbHeader
========================================================================== */
#pjWrapper .pjMbHeader { background: #fafafa; }
#pjWrapper .pjMbNav > li > a { color: #e37d4c; }

#pjWrapper .pjMbNav > .active > a,
#pjWrapper .pjMbNav > .active > a:focus,
#pjWrapper .pjMbNav > .open > a,
#pjWrapper .pjMbNav > .open > a:focus,
#pjWrapper .pjMbNav > li > a:hover { color: #d27530; }
#pjWrapper .pjMbNav > li > a:after { background: #d27530; }

#pjWrapper .pjMbNav .dropdown-menu { background: #fafafa; }
#pjWrapper .pjMbNav .dropdown-menu a { color: #e37d4c; }
#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #d27530; }

#pjWrapper .pjMbHeaderOptions .control-label { color: #e37d4c; }
#pjWrapper .pjMbHeaderOptions .form-control { border-color: #686868; background: #fff; color: #565a5b; }

/* ==========================================================================
	#pjMbContent
========================================================================== */
#pjWrapper .pjMbContentTitle { color: #18b4c0; }
#pjWrapper .pjMbContentTitle:after { background: #d27530; }
#pjWrapper .pjMbContentHead p { color: #565b5e; }

#pjWrapper .pjMbSpecialOfferMeta dd { color: #565b5e; }
#pjWrapper .pjMbSpecialOfferMeta dt { color: #d27530; }

/* ==========================================================================
	#pjMbProductCategory
========================================================================== */
#pjWrapper .pjMbCategoryTitle { color: #fff; }
#pjWrapper .pjMbCategoryTitle:before { background: #d27530; }

/* ==========================================================================
	#pjMbProducts
========================================================================== */
#pjWrapper .pjMbProductsTitle { color: #d27530; }

#pjWrapper .pjMbProduct .thumbnail { border-color: #d27530; }
#pjWrapper .pjMbProduct .thumbnail:focus,
#pjWrapper .pjMbProduct .thumbnail:hover { border-color: #18b4c0; }

#pjWrapper .pjMbProductTitle { color: #18b4c0; }
#pjWrapper .thumbnail:hover .pjMbProductTitle { color: #18b4c0; }

#pjWrapper .thumbnail .pjMbProductPrice { color: #d27530; }

#pjWrapper .pjMbProductContent p { color: #565b5e; }

#pjWrapper .pjMbProductMeta dt { color: #565b5e; }

/* ==========================================================================
	#pjMbOffers
========================================================================== */
#pjWrapper .pjMbOfferMeta { background: rgba(43, 41, 41, .81); }
#pjWrapper .pjMbOfferMeta p { color: #fff; }
#pjWrapper .pjMbOfferMeta .pjMbOfferPrice { color: #d27530; }

#pjWrapper .pjMbOfferTitle { color: #fff; }
#pjWrapper .pjMbOfferTitle:before { background: #d27530; }

/* ==========================================================================
	#pjMbOfferMenu
========================================================================== */
#pjWrapper .pjMbOfferMenuTitle { color: #d27530; }

#pjWrapper .pjMbOfferMenuItem .thumbnail { border-color: #d27530; }
#pjWrapper .pjMbOfferMenuItem .thumbnail:hover { border-color: #18b4c0; }

#pjWrapper .pjMbOfferMenuItemTitle { color: #18b4c0; }
#pjWrapper .thumbnail:hover .pjMbOfferMenuItemTitle { color: #18b4c0; }
#pjWrapper .pjMbOfferMenuItemContent p { color: #565b5e; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 767px ) {
	#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #18b4c0; }
}

@media only screen and ( max-width: 420px ) {
	#pjWrapper .pjMbNav > li { border-color: #d27530; }

	#pjWrapper .pjMbHeaderOptions .control-label { color: #565b5e; }
	#pjWrapper .pjMbHeaderOptions .btn-default { border-color: #d27530; background: #fafafa; color: #d27530; }
	#pjWrapper .pjMbHeaderOptions .btn-group.open .btn-default { border-bottom-color: transparent; color: #18b4c0; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { background: #fafafa; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a { color: #d27530; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a:hover { color: #18b4c0; }
}