/* ==========================================================================
	#pjMbHeader
========================================================================== */
#pjWrapper .pjMbHeader { background: #2b2929; }
#pjWrapper .pjMbNav > li > a { color: #cec3a7; }

#pjWrapper .pjMbNav > .active > a,
#pjWrapper .pjMbNav > .active > a:focus,
#pjWrapper .pjMbNav > .open > a,
#pjWrapper .pjMbNav > .open > a:focus,
#pjWrapper .pjMbNav > li > a:hover { color: #fff; }
#pjWrapper .pjMbNav > li > a:after { background: #e4cb8e; }

#pjWrapper .pjMbNav .dropdown-menu { background: #2b2929; }
#pjWrapper .pjMbNav .dropdown-menu a { color: #fff; }
#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #2b2929; }

#pjWrapper .pjMbHeaderOptions .control-label { color: #fff; }
#pjWrapper .pjMbHeaderOptions .form-control { border-color: #0e0d0d; background: #fff; color: #968f8f; }

/* ==========================================================================
	#pjMbContent
========================================================================== */
#pjWrapper .pjMbContentTitle { color: #413f3f; }
#pjWrapper .pjMbContentTitle:after { background: #e4cb8e; }
#pjWrapper .pjMbContentHead p { color: #746e6e; }

#pjWrapper .pjMbSpecialOfferMeta dt,
#pjWrapper .pjMbSpecialOfferMeta dd { color: #2b2929; }

/* ==========================================================================
	#pjMbProductCategory
========================================================================== */
#pjWrapper .pjMbCategoryTitle { color: #fff; }
#pjWrapper .pjMbCategoryTitle:before { background: #e4cb8e; }

/* ==========================================================================
	#pjMbProducts
========================================================================== */
#pjWrapper .pjMbProductsTitle { color: #413f3f; }

#pjWrapper .pjMbProduct .thumbnail { border-color: #f0f0ef; }
#pjWrapper .pjMbProduct .thumbnail:focus,
#pjWrapper .pjMbProduct .thumbnail:hover { border-color: #d5bb7b; }

#pjWrapper .pjMbProductTitle { color: #2b2929; }
#pjWrapper .thumbnail:hover .pjMbProductTitle { color: #d5bb7b; }

#pjWrapper .thumbnail .pjMbProductPrice { color: #d5bb7b; }

#pjWrapper .pjMbProductContent p { color: #746e6e; }

#pjWrapper .pjMbProductMeta dt { color: #2f2d2d; }

/* ==========================================================================
	#pjMbOffers
========================================================================== */
#pjWrapper .pjMbOfferMeta { background: rgba(43, 41, 41, .81); }
#pjWrapper .pjMbOfferMeta p { color: #fff; }

#pjWrapper .pjMbOfferTitle { color: #fff; }
#pjWrapper .pjMbOfferTitle:before { background: #e4cb8e; }

/* ==========================================================================
	#pjMbOfferMenu
========================================================================== */
#pjWrapper .pjMbOfferMenuTitle { color: #413f3f; }

#pjWrapper .pjMbOfferMenuItem .thumbnail { border-color: #f0f0ef; }
#pjWrapper .pjMbOfferMenuItem .thumbnail:hover { border-color: #e4cb8e; }

#pjWrapper .pjMbOfferMenuItemTitle { color: #2b2929; }
#pjWrapper .pjMbOfferMenuItemContent p { color: #746e6e; }
#pjWrapper .thumbnail:hover .pjMbOfferMenuItemTitle { color: #e4cb8e; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 767px ) {
	#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #e4cb8e; }
}

@media only screen and ( max-width: 420px ) {
	#pjWrapper .pjMbNav > li { border-color: #e4cb8e; }

	#pjWrapper .pjMbHeaderOptions .btn-group.open .btn-default { border-top-color: #e4cb8e; border-bottom-color: transparent; background: #2b2929; color: #e4cb8e; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { background: #2b2929; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a { color: #fff; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a:hover { color: #e4cb8e; }
}