/* ==========================================================================
	#pjMbContainer
========================================================================== */
#pjWrapper .pjMbContainer { background: #eef0ef; }

/* ==========================================================================
	#pjMbHeader
========================================================================== */
#pjWrapper .pjMbHeader { border: 0; background: #eef0ef; }
#pjWrapper .pjMbNav > li > a { color: #1ca86b; }

#pjWrapper .pjMbNav > .active > a,
#pjWrapper .pjMbNav > .active > a:focus,
#pjWrapper .pjMbNav > .open > a,
#pjWrapper .pjMbNav > .open > a:focus,
#pjWrapper .pjMbNav > li > a:hover { color: #12965d; }
#pjWrapper .pjMbNav > li > a:after { background: #12965d; }

#pjWrapper .pjMbNav .dropdown-menu { background: #fff; }
#pjWrapper .pjMbNav .dropdown-menu a { color: #12965d; }
#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #1ca86b; }

#pjWrapper .pjMbHeaderOptions .control-label { color: #12965d; }
#pjWrapper .pjMbHeaderOptions .form-control { border-color: #a4a2a3; background: #a4a2a3; color: #fff; }

/* ==========================================================================
	#pjMbContent
========================================================================== */
#pjWrapper .pjMbContentTitle { color: #1ca86b; }
#pjWrapper .pjMbContentTitle:after { background: #12965d; }
#pjWrapper .pjMbContentHead p { color: #575b5e; }

#pjWrapper .pjMbSpecialOfferMeta dd { color: #5a5859; }
#pjWrapper .pjMbSpecialOfferMeta dt { color: #2a2e2f; }

/* ==========================================================================
	#pjMbProductCategory
========================================================================== */
#pjWrapper .pjMbCategoryTitle { color: #fff; }
#pjWrapper .pjMbCategoryTitle:before { background: #12965d; }

/* ==========================================================================
	#pjMbProducts
========================================================================== */
#pjWrapper .pjMbProductsTitle { color: #2a2e2f; }

#pjWrapper .pjMbProduct .thumbnail { padding-left: 10px; border-color: #5a5859; }
#pjWrapper .pjMbProduct .thumbnail:focus,
#pjWrapper .pjMbProduct .thumbnail:hover { border-color: #12965d; }

#pjWrapper .pjMbProductTitle { color: #1ca86b; }
#pjWrapper .thumbnail:hover .pjMbProductTitle { color: #12965d; }

#pjWrapper .thumbnail .pjMbProductPrice { color: #12965d; }

#pjWrapper .pjMbProductContent p { color: #575b5e; }

#pjWrapper .pjMbProductMeta dt { color: #2a2e2f; }

/* ==========================================================================
	#pjMbOffers
========================================================================== */
#pjWrapper .pjMbOfferMeta { background: rgba(43, 41, 41, .81); }
#pjWrapper .pjMbOfferMeta p { color: #fff; }
#pjWrapper .pjMbOfferMeta .pjMbOfferPrice { color: #1ca86b; }

#pjWrapper .pjMbOfferTitle { color: #fff; }
#pjWrapper .pjMbOfferTitle:before { background: #12965d; }

/* ==========================================================================
	#pjMbOfferMenu
========================================================================== */
#pjWrapper .pjMbOfferMenuTitle { color: #2a2e2f; }

#pjWrapper .pjMbOfferMenuItem .thumbnail { padding-bottom: 40px; padding-left: 10px; margin-bottom: 10px; border-color: #5a5859; }
#pjWrapper .pjMbOfferMenuItem .thumbnail:hover { border-color: #12965d; }

#pjWrapper .pjMbOfferMenuItemTitle { color: #1ca86b; }
#pjWrapper .thumbnail:hover .pjMbOfferMenuItemTitle { color: #12965d; }
#pjWrapper .pjMbOfferMenuItemContent p { color: #575b5e; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 767px ) {
	#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #1ca86b; }
}

@media only screen and ( max-width: 420px ) {
	#pjWrapper .pjMbNav > li { border-color: #12965d; }

	#pjWrapper .pjMbHeaderOptions .btn-group.open .btn-default { border-top-color: #12965d; border-bottom-color: transparent; background: #eef0ef; color: #12965d; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { background: #eef0ef; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a { color: #12965d; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a:hover { color: #12965d; }
}