/* ==========================================================================
	#pjMbContainer
========================================================================== */
#pjWrapper .pjMbContainer { background: #f9f8f3; }

/* ==========================================================================
	#pjMbHeader
========================================================================== */
#pjWrapper .pjMbHeader { border: 0; background: #f9f8f3; }
#pjWrapper .pjMbNav > li > a { color: #d66e3b; }

#pjWrapper .pjMbNav > .active > a,
#pjWrapper .pjMbNav > .active > a:focus,
#pjWrapper .pjMbNav > .open > a,
#pjWrapper .pjMbNav > .open > a:focus,
#pjWrapper .pjMbNav > li > a:hover { color: #bd5726; }
#pjWrapper .pjMbNav > li > a:after { background: #bd5726; }

#pjWrapper .pjMbNav .dropdown-menu { background: #fff; }
#pjWrapper .pjMbNav .dropdown-menu a { color: #d66e3b; }
#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #bd5726; }

#pjWrapper .pjMbHeaderOptions .control-label { color: #bd5726; }
#pjWrapper .pjMbHeaderOptions .form-control { border-color: #ddd7cb; background: #f1ede4; color: #d66e3b; }

/* ==========================================================================
	#pjMbContent
========================================================================== */
#pjWrapper .pjMbContentTitle { color: #bd5726; }
#pjWrapper .pjMbContentTitle:after { background: #d66e3b; }
#pjWrapper .pjMbContentHead p { color: #575b5c; }

#pjWrapper .pjMbSpecialOfferMeta dd { color: #5d5958; }
#pjWrapper .pjMbSpecialOfferMeta dt { color: #593e33; }

/* ==========================================================================
	#pjMbProductCategory
========================================================================== */
#pjWrapper .pjMbCategoryTitle { color: #fff; }
#pjWrapper .pjMbCategoryTitle:before { background: #bd5726; }

/* ==========================================================================
	#pjMbProducts
========================================================================== */
#pjWrapper .pjMbProductsTitle { color: #bd5726; }

#pjWrapper .pjMbProduct .thumbnail { padding-left: 10px; border-color: #593e33; }
#pjWrapper .pjMbProduct .thumbnail:focus,
#pjWrapper .pjMbProduct .thumbnail:hover { border-color: #bd5726; }

#pjWrapper .pjMbProductTitle { color: #d66e3b; }
#pjWrapper .thumbnail:hover .pjMbProductTitle { color: #bd5726; }

#pjWrapper .thumbnail .pjMbProductPrice { color: #bd5726; }

#pjWrapper .pjMbProductContent p { color: #575b5c; }

#pjWrapper .pjMbProductMeta dt { color: #593e33; }

/* ==========================================================================
	#pjMbOffers
========================================================================== */
#pjWrapper .pjMbOfferMeta { background: rgba(43, 41, 41, .81); }
#pjWrapper .pjMbOfferMeta p { color: #fff; }
#pjWrapper .pjMbOfferMeta .pjMbOfferPrice { color: #d66e3b; }

#pjWrapper .pjMbOfferTitle { color: #fff; }
#pjWrapper .pjMbOfferTitle:before { background: #bd5726; }

/* ==========================================================================
	#pjMbOfferMenu
========================================================================== */
#pjWrapper .pjMbOfferMenuTitle { color: #bd5726; }

#pjWrapper .pjMbOfferMenuItem .thumbnail { padding-bottom: 40px; padding-left: 10px; margin-bottom: 10px; border-color: #593e33; }
#pjWrapper .pjMbOfferMenuItem .thumbnail:hover { border-color: #bd5726; }

#pjWrapper .pjMbOfferMenuItemTitle { color: #d66e3b; }
#pjWrapper .thumbnail:hover .pjMbOfferMenuItemTitle { color: #bd5726; }
#pjWrapper .pjMbOfferMenuItemContent p { color: #575b5c; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 767px ) {
	#pjWrapper .pjMbNav .dropdown-menu a:hover { color: #bd5726; }
}

@media only screen and ( max-width: 420px ) {
	#pjWrapper .pjMbNav > li { border-color: #bd5726; }

	#pjWrapper .pjMbHeaderOptions .btn-default { border-color: #bd5726; }
	#pjWrapper .pjMbHeaderOptions .btn-group.open .btn-default { border-bottom-color: transparent; background: #f9f8f3; color: #bd5726; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu { background: #f9f8f3; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a { color: #bd5726; }
	#pjWrapper .pjMbHeaderOptions .dropdown-menu a:hover { color: #d66e3b; }
}